aside {
    width: 400px;
    height: 800px;
    background-color: azure;
    border-radius: 5%;
    border: 3px solid black;
}

article {
    width: 400px;
    position: relative;
    top: -800px;
    right: -440px;
}

@keyframes orbita {
    100% {
        transform: rotate(360deg);
    }
}

.orbita{
    stroke: black;
    stroke-width: 3;
    fill: azure;
}

.particella {
    transform-origin: center;
}
.elettrone {
    stroke: black;
     stroke-width: 3;
      fill: blue;
    animation: orbita 5s infinite linear;
}
.protone {
    stroke: black;
    stroke-width: 3;
    fill: red;
}
.neutrone {
    stroke: black; 
    stroke-width: 3; 
    fill: grey;
}
