@keyframes orbita {
    100% {
        transform: rotate(360deg);
    }
}

.particella {
    transform-origin: center;
}

.protone {
    animation: orbita 0.25s infinite linear;
}

.neutrone {
    animation: orbita 13s infinite linear;
}