table,tr,th{ 
    border: 1px solid black;
    border-collapse: collapse;
}
table{
    width: 60%;
}

sup{
    color:red;
}
sub{
    color:grey;
    font-size: 8px;
}
a {
    color:black;
}

th {
    font-size: 10px;
}
th.nonmetallo{
    background-color: yellow;
}
th.gasnobile{
    background-color: red;
}
th.alkalinometal{
    background-color: palevioletred;
}
th.alkalinoearth{
    background-color: rebeccapurple;
}
th.transitionmetal{
    background-color: royalblue;
}
th.basicmetal{
    background-color: aqua;
}
th.semimetal{
    background-color: lightgreen;
}
th.halogen{
    background-color: darkorange;
}

table.lantha-actini{
    background-color: slateblue;
}