table,tr,th{ 
    border: 1px solid black;
    border-collapse: collapse;
}
table{
    width: 60%;
}
table.lantha-actini{
    background-color: slateblue;
}
sup{
    color:red;
}
sub{
    color:grey;
    font-size: 8px;
}
a {
    color:black;
}

th {
    font-size: 10px;
}

/* each class indicates a different kind of element each with his own style characteristics  */
th.nonmetallo{
    background-color: yellow;
}
th.gasnobile{
    background-color: red;
}
th.alkalinometal{
    background-color: palevioletred;
}
th.alkalinoearth{
    background-color: rebeccapurple;
}
th.transitionmetal{
    background-color: royalblue;
    position:relative;
    z-index: -1;
}
th.basicmetal{
    background-color: aqua;
}
th.semimetal{
    background-color: lightgreen;
}
th.halogen{
    background-color: darkorange;
}
th.radioactive{
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-color:rgb(209, 209, 6);
    position: relative;
    z-index: 0;
}