table,tr,th{ 
    border: 1px solid black;
    border-collapse: collapse;
}
table{
    width: 60%;
}

sup{
    color:red;
}
sub{
    color:grey;
    font-size: 8px;
}
a {
    color:black;
}

th {
    font-size: 10px;
}
.nonmetallo{
    background-color: yellow;
}
.gasnobile{
    background-color: red;
}
.alkalinometal{
    background-color: palevioletred;
}
.alkalinoeath{
    background-color: rebeccapurple;
}